extends ../main

block title
	| Интернет-магазин Cooltech

block content
	article.content-wrapper
		.container
			.main-title
				| Мобильные телефоны
			.main-content
				

				include ../_common/_sidebar

				.content
					.sort
						.sort__left
							.sort__select--wrap
								.sort__title
									| Сортировать по
								.sort__select
									select.sort__select-elem
										- var options = ["по цене", "по популярности"]
										each option in options
											option(value="")= option
						.sort__right
							.sort__title
								| Вид каталога
							.sort__view
								ul.sort__view-list
									- var items = ["rows", "grids", "lines"]
									each item in items
										li(class="sort__view-item sort__view-" + item data-view= item)
											a(href="#").sort__view-link
												.sort__view-icon

					.products
						ul.products__list#products-list
							- for (var i = 0; i<9; i++)
								li.products__item
									.products__item-inner
										.products__left
											.products__slideshow
												.products__slideshow-block
													a(href="#").products__slideshow-display
														img(src="http://lorempixel.com/200/200/technics/6", alt="Alt").products__slideshow-img
													ul.products__slideshow-thumbs
														- for (var j = 0; j < 3; j++)
															li.products__slideshow-item
																a(href="#").products__slideshow-link
																	img(src="http://lorempixel.com/45/45/technics/" + j alt="Alt").products__slideshow-thumb-img
												.products__article
													.proucts__article-word Артикул
													.poducts__article-num 189238
											.products__descr
												.products__descr-title Samsung GT-I9301I GALAXY S 3
												ul.products__descr-options
													- var options = {'Тип SIM-карты': "Micro-SIM", 'Количество SIM-карт' : "1", "Цвет" : "Белый", "ОС" : "Android", "Связь 3G" : "Есть", "4G (LTE)" : "Нет", "GPS-модуль" : "Есть"}
													- var index = 0;
													- for (item in options)
														li(class="products__option-item" + (!(index++ % 2) ? ' products__option-item--colored' : ''))
															.products__option-key= item
															.products__option-value= options[item]
												div(class="products__rating" data-rating="4")

										.products__right
											.products__info
												.products__price 11 290
													i.rub
											.products__info-bottom
												a(href="#").poducts__buy-btn В корзину
												.products__availability
													| В наличии
						.pagination
							ul.paginstion__list
								li.pagination__item.pagination__item--prev
									a(href="#").pagination__link
										.pagination__mark
								- for (var i = 1; i < 5; i++)
									li.pagination__item
										a(href="#").pagination__link
											.pagination__mark= i
								li.pagination__item.pagination__item--next
									a(href="#").pagination__link
										.pagination__mark

			.attention
				.main-title
					| Важная информация
				.attention-text
					p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis rem error ducimus ipsam rerum omnis, itaque, illo laudantium fuga molestias, praesentium sapiente vero? At temporibus cumque dicta iste quo, qui.
					p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis rem error ducimus ipsam rerum omnis, itaque, illo laudantium fuga molestias, praesentium sapiente vero? At temporibus cumque dicta iste quo, qui.
					p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis rem error ducimus ipsam rerum omnis, itaque, illo laudantium fuga molestias, praesentium sapiente vero? At temporibus cumque dicta iste quo, qui.
					p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis rem error ducimus ipsam rerum omnis, itaque, illo laudantium fuga molestias, praesentium sapiente vero? At temporibus cumque dicta iste quo, qui.
					p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis rem error ducimus ipsam rerum omnis, itaque, illo laudantium fuga molestias, praesentium sapiente vero? At temporibus cumque dicta iste quo, qui.
					p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis rem error ducimus ipsam rerum omnis, itaque, illo laudantium fuga molestias, praesentium sapiente vero? At temporibus cumque dicta iste quo, qui.